BasedOnStyle: LLVM
AccessModifierOffset: -4
ColumnLimit: 0
TabWidth: 4
IndentWidth: 4
IndentNamespace: false
BreakBeforeBinaryOperators: All
AllowShortCircuitOperatorsOnASingleLine: false
NamespaceIndentation: None
UseTab: ForContinuationAndIndentation
AlignConsecutiveMacros: true
SortIncludes: false
IncludeBlocks: Preserve
BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: false
  AfterFunction: true
  AfterControlStatement: true
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
